/* not used */.landing {
  display: flex;
  justify-content: space-between;
}
.line1 {
  margin: 25vh 0 0 0;
  height: 0px;
  font-size: 200px;
  font-family: 'Abel';
  color: white;
  animation: appear1 3s 1 ease forwards;
}
.line2 {
  margin: 70vh 0 0 0;
  height: 0px;
  animation: appear2 1.5s 1 ease forwards;
  animation-delay: 2s;
}
.line3 {
  margin: 0 0 0 0;
  width: 0px;
  animation: appear3 1.5s 1 ease forwards;
  animation-delay: 1s;
}
@keyframes appear1 {
  0% {
    width: 0;
    border: none;
  }
  100% {
    width: 80vw;
    border-bottom: 1vh solid white;
  }
}
@keyframes appear2 {
  0% {
    width: 0;
    border: none;
  }
  100% {
    width: 65vw;
    border-bottom: 1vh solid white;
  }
}
@keyframes appear3 {
  0% {
    height: 0;
    border: none;
  }
  100% {
    height: 100vh;
    border-right: 1vh solid white;
  }
}
