@keyframes spin {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(180deg);
  }
}
@keyframes spinback {
  from {
    transform: rotate(180deg);
  } to {
    transform: rotate(0deg);
  }
}
body {
  /*background: url("images/oh.jpg") 50% 0%;
  background-size: cover;*/
  margin: !important 0;
  background-color: #212121;
}
.darken {
  filter: brightness(70%);
}
.nav {
  margin: 0vh 3vw 5vh 5vw;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 3vw;
  right: 0;
  height: 10vh;
  z-index: 5;
}
.menu {
  height: 40px;
  width: 40px;
  color: white;
  transition-duration: .35s;
  cursor: pointer;
  animation-delay: .15s;
}
.menu-close {
  display: none;
  height: 30px;
  width: 30px;
}
.menu:hover {
  transition-timing-function: ease;
  width: 45px;
  height: 45px;
}
.menu-close:hover {
  width: 35px;
  height: 35px;
}
.navcover {
  display: flex;
  position: fixed;
  margin: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 0%;
  background: #212121;
  transition: .5s;
  overflow: hidden;
  color: white;
  z-index: 2;
}
.navcover h1 {
  font-size: 40px;
  font-family: 'Roboto';
}
.navlist {
  margin: 15vh 2vw 0 0;
  list-style-type: none;
  animation-delay: 3s;
}
.subdiv1 {
  border: 5px solid dodgerblue;
  width: 50%;
  height: 100%;
}
.subdiv2 {
  border: 5px solid red;
  width: 50vw;
  height: 50%;
}
.subdiv3 {
  border: 5px solid green;
  width: 50vw;
  height: 50%;
}
.navlist li {
  position: relative;
  margin-bottom: 3vh;
  font-size: 30px;
  text-align: right;
  font-family: 'Rajdhani';
}
.navlist li a {
  position: relative;
  width: 100%;
  padding: 5px;
  overflow: hidden;
  text-decoration: none;
  color: white;
  visibility: hidden;
  transition: .5s;
}
.navlist li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 3px solid white;
  width: 0;
}
.navlist li a:hover:after {
  width: 100%;
  transition: .5s;
}
.open {
  height: 100%;
  width: 100%;
  opacity: 1;
  visibility: visible;
}
.oopen {
  visibility: visible !important;
}
